* {
    padding : 0; 
    margin :0 
}

canvas {
    background: #eee; 
    height: 90vh;
    width: 67.5vh;
    margin: 0 auto 10px;
    display: block;
}

.footer {
    margin: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.middle {
    text-align: center;
    display: block;
}