* {
    padding : 0; 
    margin :0 
}

canvas {
    background: #eee; 
    height: 90vh;
    width: 67.5vh;
    margin: 0 auto 10px;
    display: block;
}

.footer {
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    /* font-size: 0.9em; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightgrey;
}

.middle {
    text-align: center;
    display: block;
}